<div class="game-container">
  <app-score-state
    [score]="score"
    [level]="level"
    [isGameOver]="isGameOver"
    [countdown]="countdown">
  </app-score-state>

  <app-interface
    [sequence]="sequence"
    [disable]="disable"
    [activeCardIndex]="activeCardIndex"
    [userSequence]="userSequence"
    [isGameOver]="isGameOver"
    (cardClick)="getClickedCard($event)"
    (validateClick)="validateSequence()"
    (resetClick)="resetUserSequence()"
    (startAgainClick)="startGame()">
  </app-interface>

  <app-game-over-popup
    [score]="score"
    [level]="level"
    [isVisible]="isGameOver"
    (startAgain)="startGame()">
  </app-game-over-popup>
</div>
  